body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.timer {
    background-image: url;
    margin: 100px auto;
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#displayTime {
    font-size: 2em;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    background-color: #6b91bc;
    color: #fff;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

input {
    width: 60px;
    padding: 5px;
    font-size: 1em;
    text-align: center;
}

#btn {
    margin-top: 20px;
}
