table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}


table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
body>h1{
  color: blue;
  text-align: center;
  text-decoration: underline;
}
form > label{
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
  

}
form>input{
  text-align: center;
  margin-left: 20px;
}

form > select{
  margin-left: 20px;
}
#btn{
  background-color: blue;
  color: white;
  width: 75%;
  border-radius: 15px;
  margin-top: 10px;
}
#cont{
  display: flex;
  justify-content: space-around;
  height: 40px;
  
}
tr>th{
  background-color: blue;
  color: white;
  font-size: 13px;
 

  width: 100px;
}
tbody{
  text-align: center;
}

